

<div class="jumbotron center">
	<h2>Social Media Marketing</h2>
	<% if user_signed_in? %>
		<p>You Logged In!</p>
		<%= link_to "Pins", pins_path, class: "btn btn-primary btn-lg" %>

	<% else %>
		<%= link_to "Log in", new_user_session_path , class: "btn btn-default btn-lg" %>
		<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		

	<% end %>
</div>


